<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.istant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISTANT">
        <activity
            android:name=".activity_visualizeloans"
            android:exported="false" />
        <activity
            android:name=".activity_newchild"
            android:exported="false" />
        <activity
            android:name=".activity_settings_managechildren"
            android:exported="false" />
        <activity
            android:name=".activity_visualizeactivities_visualizeparticipants"
            android:exported="false" />
        <activity
            android:name=".activity_guide"
            android:exported="false" />
        <activity
            android:name=".activity_settings"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity_visualizeactivities"
            android:exported="false" />
        <activity
            android:name=".activity_create_activities"
            android:exported="false" />
        <activity
            android:name=".activity_create_loans"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>